:root {
	font-family: Helvetica;
	--accent: #333;
	--title-clr: #eee;
	--fast-transit: 0.25s all ease-out;
	--slow-transit: 0.45s all ease-out;
	--friendly: #0f43;
	--hit: #04f3;
	--miss: #f004;
	--friendly-hover: #0f47;
	--hit-hover: #00f7;
	--miss-hover: #f008;
}

* {
	padding: 0;
	margin: 0;
	user-select: none;
}

body {
	height: 100vh;
	display: grid;
	grid: 7.5% 1fr 7.5% / auto;
	background: var(--accent);
	gap: 1rem;
}

button {
	padding: 0 .75rem;
	border-radius: .5rem;
}

dialog {
	width: 50%;
	background: var(--accent);
	color: var(--title-clr);
	border-color: transparent;
	border-radius: 1rem;
	box-shadow: 0 0 .7rem #fff, 0 0 2rem var(--title-clr);
	position: relative;
	top: 25%;
	left: 25%;	
	padding: 2rem;
	& div{
		display: flex;
		flex-flow: column;
		align-items: center;
		gap: 1rem;
	}
	& h2 {
		font-size: 4rem;
	}
	& h3 {
		font-size: 2.5rem;
	}
	& button {
		padding: .5rem 1rem;
		border-radius: .2rem;
	}
}

.header {
	display: flex;
	justify-content: space-evenly;
}

.notes-div {
  width: 95%;
	height: 75%;
  padding: 1.5rem;
  border-radius: 1rem;
  background: var(--title-clr);
	position: relative;
	top: 10%;
	transition: all .5s ease-out;
	& h2 {
		text-align: center;
		font-size: 3rem;
		margin-bottom: 2.5rem;
	}
	& li {
		list-style: none;
	}
	& *:not(h2) {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
	}
}

.header h3, .footer {
	color: var(--title-clr);
}

.main {
	background: var(--accent);
	color: var(--title-clr);
}

.main h1 {
	text-align: center;
}

.game-screen {
	display: grid;
	grid:  auto / repeat(3, 1fr);
	justify-content: space-evenly;
}

[class*=-side] {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: .5rem;
}

[class*=-side] h3 {
	align-items: center;
}

[class*=-board] {
	display: grid;
	background: var(--title-clr);
	cursor: crosshair;
	transition: var(--slow-transit);
	transform: scale(1);
}

.board-cell{
	width: clamp(1.6rem, 3.3vw, 40px);
	height: clamp(1.6rem, 3.3vw, 40px);
	border: 1px solid #0003;
	color: var(--accent);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover{
		background: #0002;
	}
}

.order-window {
	position: relative;
	display: none;
	flex-flow: column;
	align-self: space-between;
	gap: .5rem;
	& h3 {
		text-align: center;
	}
	& button {
		padding-block: .5rem;
		padding-inline: 1rem;
	}
}

.manual-place-window {
	display: none;
	grid: 2.5rem 1fr / repeat(2, 1fr);
	gap: 1.5rem 1rem;
	& h2 {
		grid-area: 1 / 1 / 2 / -1;
		text-align: center;
	}
}

.manual-place-window .title {
	grid-area: 1 / 1 / 2 / -1;
}

.ship {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ship-count-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ship-cells {
	color: var(--title-clr);
	background: var(--friendly);
	border: 2px dotted var(--friendly-hover);
	width: 20px;
	height: 20px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	transition: var(--fast-transit);
	&:hover {
		background: var(--friendly-hover);
		box-shadow: 0 0 .25rem var(--friendly);
	}
}

.ship-orientation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship-orientation button {
	height: 2rem;
	aspect-ratio: 1/1;
  padding: 0;
  border-radius: 0.4rem;
  font-size: 2rem;
	background: var(--accent);
	color: var(--friendly-hover);
	text-shadow: 0 0 .5rem var(--title-clr);
  display: flex;
  align-items: flex-end;
	justify-content: center;
}

.friendly-ship {
	background: var(--friendly);
	border: none;
	&:hover{
		background: var(--friendly-hover);
	}
}

.miss-mark {
	background: var(--miss);
	border: none;
	&:hover{
		background: var(--miss-hover);
	}
}

.hit-mark {
	background: var(--hit);
	border: none;
	&:hover{
		background: var(--hit-hover);
	}
}

.invisible-wall {
	background: var(--accent);
	opacity: 0.4;
	position: absolute;
	display: block;
	z-index: 1;
}

div .inactive-player {
	background: #fff5;
	transform: scale(0.925);
}

.game-over-screen {
	background: #333c;
	color: var(--title-clr);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;

	& h2 {
		font-size: 5rem;
		text-shadow: 0 0 1rem #fff;
	}

	& h3 {
		font-size: 1.75rem;
		text-shadow: 0 0 0.75rem #fff;
	}

	& button {
		padding-inline: 1.2rem;
    padding-block: 0.6rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
	}

}

.footer {
	display: flex;
	justify-content: center;
}

.header, .footer {
	background: var(--accent);
}

.cursor-feedback {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 1rem;
	width: max-content;
	height: min-content;
	padding: .5rem;

	background: var(--accent);
	color: var(--title-clr);
	letter-spacing: 1px;
	box-shadow: 5px 6px 1rem -0.1rem #f003;

	transition: opacity .2s ease-out;
}

[class*=ship-placement-btn] {
	display: block;
}

.hidden {
	display: none;
}

.slow-fade {
	opacity: 0;
}
