:root {
	font-family: Helvetica;
	--accent: #333;
	--title-clr: #eee;
	--fast-transit: 0.25s all ease-out;
	--slow-transit: 0.45s all ease-out;
}

* {
	padding: 0;
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-evenly;
}

.header h3, .footer {
	color: var(--title-clr);
}

.main {
	background: var(--accent);
	color: var(--title-clr);
}

.main h1 {
	text-align: center;
}

.game-screen {
	display: grid;
	grid:  auto / 1fr 20% 1fr;
	justify-content: space-evenly;
}

[class*=-side] {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: .5rem;
}

[class*=-side] h3 {
	align-items: center;
}

[class*=-board] {
	display: grid;
	background: var(--title-clr);
	cursor: crosshair;
	transition: var(--slow-transit);
	transform: scale(1);
}

.board-cell{
	width: clamp(1.6rem, 3.3vw, 40px);
	height: clamp(1.6rem, 3.3vw, 40px);
	border: 1px solid #0003;
	color: var(--accent);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--fast-transit);
	&:hover{
		background: #0002;
	}
}

.order-window {
	position: relative;
	display: none;
	flex-flow: column;
	align-self: space-between;
	gap: .5rem;
	& h3 {
		text-align: center;
	}
	& button {
		padding-block: .5rem;
		padding-inline: 1rem;
	}
}

.order-window div {
	display: flex;
	justify-content: space-between;
}

.friendly-ship {
	background: #0f43;
	border: none;
	box-shadow: 0 0 1rem #0f47;
	&:hover{
		background: #0f43;
	}
}

.miss-mark {
	background: #f004;
	border: none;
	box-shadow: 0 0 1rem #f007;
	&:hover{
		background: #f008;
	}
}

.hit-mark {
	background: #00f3;
	border: none;
	box-shadow: 0 0 1rem #00f7;
	&:hover{
		background: #00f7;
	}
}

.invisible-wall {
	background: var(--accent);
	opacity: 0.4;
	position: absolute;
	display: block;
	z-index: 1;
}

div .inactive-player {
	background: #fff5;
	transform: scale(0.925);
}

.game-over-screen {
	background: #333c;
	color: var(--title-clr);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;

	& h2 {
		font-size: 5rem;
		text-shadow: 0 0 1rem #fff;
	}

	& h3 {
		font-size: 1.75rem;
		text-shadow: 0 0 0.75rem #fff;
	}

	& button {
		padding-inline: 1.2rem;
    padding-block: 0.6rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
	}

}

.footer {
	display: flex;
	justify-content: center;
}

.header, .footer {
	background: var(--accent);
	height: 15%;
}
